*~
*.a
*.mod
*.o
.deps
compile
config.guess
config.sub
stamp-h1
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
build/*
build-test*
/config.h*
/config.status
/config.log
/configure
/ctrparam.h.in
/ctrparam-test
/depcomp
/install-sh
/missing
/src/clm/exe
/util/analysis/antsrf
