*~
*.a
*.o
.deps
stamp-h1
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.h*
/config.status
/config.log
/configure
/depcomp
/install-sh
/missing
/src/igsm22
/src/clm/2.1/utils/esmf/build/*/machineinfo.h
/src/clm/3.5/exe
/util/analysis/antsrf
